*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-size: 15px;
    font-family: outfit;
    font-weight: 400, 700;

}
.topic{
    background-color: white;
    width: 330px;
    margin: 6% auto;
    border-radius: 20px;
}
.topic img{
    width: 298px;
    margin: 15px;
    border-radius: 10px;
}
.improve{
    padding-bottom: 19px;
    margin: auto 20px;
    margin-top: 5px;
    color: hsl(218, 44%, 22%);
}
.scan{
    padding-bottom: 40px;
    margin: auto 35px;
    color: hsl(220, 15%, 55%);
}